export ALIBABA_API_KEY=$(jq -r '.alibaba_key' credentials.json)
export GITHUB_COPILOT_API_KEY=$(jq -r '.copilot_key' credentials.json)
export OPENAI_API_KEY=$(jq -r '.openai' credentials.json)
export S2_API_KEY=$(jq -r '.s2_key' credentials.json)
